<% include ../_partials/head %>
  <% include ../_partials/messages %>
  <main>
    <% if (canWrite) { %>
      <% include ../_partials/appLink %>
      <section>
        <form role="form" action="/image" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="docs">Upload files:</label>
            <input class="form-control" type="file" id="docs" name="docs" multiple=true>
            <ol id="selected-files"></ol>
          </div>
          <div class="form-group">
            <button class="btn btn-default" type="submit">Submit</button>
          </div>
        </form>
      </section>
    <% } %>
    <% if (!images.length) { %>
      <h2>No invoices</h2>
    <% } else { %>
      <% if (canWrite) { %>
        <section class="copy">
          <h1><a href="<%= `/image/${agent.getAgentDirectory()}/zip` %>">Zip and download all invoices</a><h1>
        </section>
      <% } %>
      <% include ./_pager %>
      <% for (let image of images) { %>
        <section class="image">
          <a href="<%= `/image/${image}` %>">
            <img src="<%= `/uploads/${image}` %>" />
          </a>
        </section>
      <% } %>
      <% include ./_pager %>
    <% } %>
  </main> 
<% include ../_partials/footer %>

