<% include _partials/head %>
  <% include _partials/messages %>
  <main>
    <section class="copy">
      <h1>
        <em>merman</em> is augmented by an Android application that allows you to take compressed photos of paper receipts.
      </h1>
    </section>
    <section class="copy">
      <h2>Step 1:</h2>
      <h2>
        <a href="https://www.lifewire.com/install-apk-on-android-4177185" target="_blank">
          Learn about installing APKs here
        </a>
      </h2>
      <h1>
        And then 
        <a href="/app/app-release.apk">
          download the Android app<br>
          <img class="true-size" src="/images/android-6-48.png"><br>
        </a>
      </h1>

    </section>
    <section class="copy">
      <h2>Step 2:</h2>
      <h1>Login through your mobile browser</h1>
      <div class="center">
        <img class="small-size" src="/images/web-login.png">
      </div>
    </section>
    <section class="copy">
      <h2>Step 3:</h2>
      <h1>Open the photo app</h1>
      <div class="center">
        <img class="small-size" src="/images/open-app.png">
      </div>
    </section>
    <section class="copy">
      <h2>Step 4:</h2>
      <h1>Take picture</h1>
      <div class="center">
        <img class="small-size" src="/images/take-picture.png">
      </div>
    </section>
    <section class="copy">
      <h2>Step 5:</h2>
      <h1>Send!</h1>
      <div class="center">
        <img class="small-size" src="/images/send-pic.png">
      </div>
    </section>
    <section class="copy">
      <h2>Step 6:</h2>
      <h1>
        Manage your receipts and download your zipped expense file bundle through the <a href="/">web application</a>.
      </h1>
    </section>
  </main> 
<% include _partials/footer %>

