<% include _partials/head %>
  <% include _partials/messages %>
  <main>
    <% if (!agent) { %>
      <% include _partials/login %>
      <section class="copy">
        <h2>Step 1:</h2>
        <h1>
          <a href="/app/app-release.apk">
            Download the Android app<br><br>
            <img class="true-size" src="/images/android-6-48.png">
          </a>
        </h1>
        <h2>
          <a href="https://www.lifewire.com/install-apk-on-android-4177185" target="_blank">
            Learn about installing APKs here
          </a>
        </h2>
      </section>
      <section class="copy">
        <h2>Step 2:</h2>
        <h1>Login through your mobile browser</h1>
        <img class="small-size" src="/images/web-login.png">
      </section>
      <section class="copy">
        <h2>Step 3:</h2>
        <h1>Open the photo app</h1>
        <img class="small-size" src="/images/open-app.png">
      </section>
      <section class="copy">
        <h2>Step 4:</h2>
        <h1>Take picture</h1>
        <img class="small-size" src="/images/take-picture.png">
      </section>
      <section class="copy">
        <h2>Step 5:</h2>
        <h1>Send!</h1>
        <img class="small-size" src="/images/send-pic.png">
      </section>
    <% } %>
    <% if (!images.length) { %>
      <section class="copy">
        <h1>Publish your pics here!!</h1>
      </section>
    <% } else { %>
      <% include _partials/pager %>
      <% for (let image of images) { %>
        <% if (image.type === 'image') { %>
          <section class="image">
            <img src="/images/uploads/<%= image.file %>" />
          </section>
        <% } else { %>
          <section class="link">
            <a href="/images/uploads/<%= image.file %>"></a>
          </section>
        <% } %>
      <% } %>
      <% include _partials/pager %>
    <% } %>
  </main> 
<% include _partials/footer %>

