<% include _partials/head %>
  <% include _partials/messages %>
  <main>
    <section class="copy">
      <h1>
        <em>merman</em>
        <p>Simplifies ministry expense claims</p>
      </h1>
    </section>
    <section class="copy">
      <h1>
         A web app for missionaries, pastors, and church workers
      </h1>
    </section>
    <section class="copy">
      <h1>
        Use merman to:
      </h1>
      <ul>
        <li>Take pictures of receipts</li>
        <li>Upload and manage receipt images and files</li>
        <li>Fill in expense details</li>
        <li>Bundle receipts and spreadsheet into a single zip file</li>
      </ul>
    </section>
    <section class="copy">
      <h1>
        merman is customizable
      </h1>
      <ul>
        <li>Do you require Excel spreadsheets or plain CSV?</li>
        <li>Does your bookkeeping software have an API?</li>
        <li>Do you outsource to an online provider?</li>
      </ul>
      <h2>
        merman can be tailor-made to interface with your organization's exisiting software and human processes
      </h2>
      <h1>
        Cut overhead costs by improving administrative efficiency
      </h1>
    </section>
     <section class="copy">
      <h1>
        merman is worker-focused
      </h1>
      <h2>
        Expense claims are <em>expensive</em>
      </h2>
      <h2>
        They cost money and time
      </h2>
      <h1>
        Ministry workers have better things to do
      </h1>
    </section>
    <section class="copy">
      <h1>Is merman right for you?</h1>
      <h2>
        <a href="mailto:daniel@whatdandoes.info">Let's find out</a>
      </h2>
    </section>
  </main>
<% include _partials/footer %>

