/**
 * general
 */
body {
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 0;
}

@media (min-width: 750px) {
  main {
    margin-left: 25%;
    margin-right: 25%;
  }
}

section {
  width: 100%;
  margin-top: 2em;
}
section img {
  width: 100%;
}

input {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password] {
  border: 1px solid #4f83cc;
  background-color: #eeeeee;
  border-radius: 25px;
  font-size: 1em;
  color: #002f6c;
  padding-left: 1em;
  width: calc(100% - 1em);
}

/**
 * 2019-8-8 
 * https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
/**
 * 2019-8-8 
 * https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
 */
  -webkit-appearance: none; 
  margin: 0; 
}

/**
 * Alert boxes stolen from Bootstrap
 */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d0e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c1e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6d5ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7ecb5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9b9;
}

.alert-danger .alert-link {
  color: #843534;
}

/**
 * header#page
 */
#page {
  background-color: #151515;
  padding: 0.25em;
  color: #d7d7d7;
}

#page h1 {
  margin: 0;
  font-size: 1.25em;
}

#page nav {
  margin: 0;
  top: 1em;
  right: 1em;
  position: absolute;
  color: #d7d7d7;
  font-size: 0.75em;
}

nav ul {
  margin: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
}

#page a {
  color: #d7d7d7;
}

@media (min-width: 750px) {
  #page h1 {
    margin: .5em;
    font-size: 1.5em;
  }

  #page nav {
    font-size: 1.4em;
  }

  #page nav ul li {
    margin: .5em;
  }


}

/**
 * Pagination
 */
#pager {
  width: 100%;
  text-align: center; 
}
#pager ul {
  width: 100%;
  padding: 0;
}
#next-page {
  margin-left: 1em;
}
#prev-page {
  margin-right: 1em;
}

/**
 * details
 */

details {
  border-radius: 5px;
  margin-top: 1em;
}

details summary {
  border-radius: inherit;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #ECEFF1;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

details section {
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 1em;
}

/**
 * Agent
 */
.agent {
  margin-left: 1em;
}

h3 {
 padding: 0.25em;
}

/**
 * albums
.album {
  margin-left: 1em;
  margin-right: 1em;
}

.stakeholder .quantity,
.agent .permissions,
.album .permissions {
  float: right;
}

.agent .permissions .fa,
.album .permissions .fa {
  margin-right: 0.5em;
}
 */

/**
 * forms
 */
form {
  font-size: 1.25em;
}

.login form {
  width: 80%;
  margin: auto;
}

.login form button {
  width: 100%;
  margin-top: .75em;
}

button[type="submit"] {
  padding: 0.5em;
  color: #FFF;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #4f83cc;
  border-radius: 25px;
  background-color: #4f83cc;
}

.form-group {
  margin: 1em;
  width: calc(100% - 2.25em);
}

.form-control {
  height: 2em;
  width: 100%;
}

#selected-files p {
  font-size: 0.75em;
}

ol#selected-files li {
  font-size: 1em;
}

.invoice-details {
  text-align: right;
}

.invoice-details input {
  width: 8em;
  text-align: right;
  padding-right: 1em;
}

.invoice-details label {
  display: block;
  text-align: right;
}

.not-editable {
  color: #2d2d2d;
  font-size: .8em;
  margin-right: 0.2em;
}

.not-editable input {
  color: #2d2d2d;
  font-size: .8em;
}

/*
textarea {
  display: inline;
  width: 100%;
}
*/

/*
.checkbox label {
  display: inline-block;
  width: 40%;
}
*/

/*
.checkbox input {
  text-align: right;
  width: 7em;
}
*/

/**
 * 2016-11-22
 * LGT
 * http://stackoverflow.com/questions/14942081/detect-if-a-browser-in-a-mobile-device-ios-android-phone-tablet-is-used
@media (max-resolution: 1dppx) {
  #datepicker {
    pointer-events: none;
  }
}
 */

/**
 * show images
 */
h2 {
  font-size: 1.25em;
  font-weight: normal;
  margin-bottom: 0.5em;
  padding: 0.25em;
}

/**
 * list items
 */
/*
.agent,
.image {
*/
.link {
  padding: 5em 0 5em 0;
  border-color: #CFD8DC;
  background-image: url("/images/document.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

/*
.pending {
  color: #90A4AE;
}

.expense {
  color: #ff3232;
}

.approved {
  color: #37474F; 
}

.credit {
  color: #32ff32;
}
*/

.image .album {
  float: left;
/*
  width: 70%;
*/
}

/*
.image .date {
  margin-left: 70%;
}
*/
/**
 * Image controls
 */
#image-controls {
  display: inline-block;
}
#image-controls form {
  display: inline;
}

/**
 * Delete image
 */
button[type="submit"]#delete-image {
  margin-top: 1em;
  padding: 0.5em;
  background: #ff4c4c;
  font-size: .5em;
  width: 30%;
  border: 1px solid #ff1919;
}

/**
 * Publish image
 */
button[type="submit"]#publish-image {
  padding: 0.5em;
  background: green;
  font-size: 1em;
  width: 30%;
  border: 1px solid green;
  float: right;
}

/**
 * Cancel edit
 */
button[type="submit"]#cancel-edit {
  margin-top: 1em;
  padding: 0.5em;
  background: blue;
  font-size: .5em;
  float: right;
  width: 30%;
  border: 1px solid blue;
}

/**
 * Tool tips
 */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/**
 * New album, agent, stake forms
 */
/*
.form-reveal {
  margin-top: 0.5em;
  margin-right: 0.5em;
  float: right;
}
.closed {
  color: green;
}
.open {
  color: red;
  transform: rotate(45deg);
}
*/

/*** custom checkboxes ***/
/* 2017-2-6 https://codepen.io/jamesbarnett/pen/yILjk */
/*
input[type=checkbox][class=pic] { display:none; } /* to hide the checkbox itself */
/*
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: red;
}
*/

/* Unchecked icons */
/*
#review + label:before { content: "\f044"; }
#submit + label:before { content: "\f093"; }
#view  + label:before { content: "\f06e"; }
*/

/*input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
/*input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */
/*input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
/*input[type=checkbox]:checked + label:before { color: green; } /* checked icon */
/*input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

/*
#new-agent-form input[type=submit] {
 /* margin: 1em;
  float: right;*/
/*
}
*/

/**
 * Footer
 */
#info {
  background-color: black;
  padding: 2em;
  font-size: 1.5em;
  text-align: center;
}
#info a {
  color: white;
}

/**
 * deep-link
 */
.deep-link {
  width: 100%;
  text-align: center;
}
.upload-link img,
.deep-link img {
  width: 30%;
  border-radius: 1em;
  box-shadow: .25em .25em rgb(0,0,0,0.2);
}

/**
 * Splash screen
 */
.splash {
  width: 80%;
  background-image: url("/images/mermaid-man.png");
  background-color: #151515;
  color: white;
  background-position: right;
  background-repeat: no-repeat; 
  background-size: contain;
}

@media (min-width: 750px) {
  .splash {
    width: 20%;
    margin: 1em;
  }
}

/**
 * Copy item 
 */
.copy {
  width: 100%;
  background-color: #151515;
  color: white;
  text-align: center;
  padding: 2em 0 2em 0;
}

.copy img.true-size {
  width: auto;
  min-width: 0;
}

.copy img.small-size {
  width: 40%;
  min-width: 0;
}


/**
 * 2019-8-1
 * Adapted from: https://coderwall.com/p/uer3ow/total-input-type-file-style-control-with-pure-css
 */
.fileContainer {
  overflow: hidden;
  position: relative;
  color: #00B7FF;
  font-size: .8em;
  text-align: center;
  width: 100%;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  /* font-size: 999px; */
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

#file-upload-button{
  display: none;
}

/**
 * 2019-8-8 Styles swiped from here
 * https://css-tricks.com/styling-a-select-like-its-2019/
 */
.dropdown {
  display: block;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding-left: .6em;
  width: 100%;
  box-sizing: border-box;
  margin: 1.5em 0 1.5em 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  text-align: center;
}
.dropdown::-ms-expand {
  display: none;
}
.dropdown:hover {
  border-color: #888;
}
.dropdown:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.dropdown option {
  font-weight: normal;
}

.image {
  position: relative;
}
.check-mark {
  font-size: 3em;
  color: rgba(0,255,0,0.5);
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #fff;
  border-radius: 50%;
  border: .25em solid rgba(0,255,0,0.5);
}
