/**
 * general
 */
body {
  margin: 0;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #00B7FF;
}

a:hover {
  text-decoration: underline;
}

main {
  margin: 1em;
}

@media (min-width: 750px) {
  main {
    margin-left: 25%;
    margin-right: 25%;
  }
}

section {
  margin-top: 2em;
  margin-bottom: 2em;
}


/**
 * forms
 */
form {
  font-size: 1.25em;
}

button[type="submit"] {
  padding: 0.5em;
  color: #FFF;
  background: #1abc9c;
  font-size: 1em;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
}

.form-group {
  margin-bottom: 1em;
}

.form-control {
  height: 2em;
  width: 100%;
}

