  <figure class="copy-item">
    <h4></h4>
  </figure>
</section>
  <footer id="info">
    <span>
      <a href="/app/app-release.apk">Download the app</a>
    </span>
    <span>
    </span>
    <span>
    </span>
  </footer>                    
</body> 
</html> 

