<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= process.env.TITLE %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <% if (process.env.NODE_ENV === 'production') { %>
    <% include matomo %>
  <% } %>
</head>
<body>
  <% include navbar %>

