  <header id="page">
    <h1><a href="/"><%= process.env.TITLE %></a></h1>
    <% if (agent) { %>
      <nav>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </nav>
    <% } %>
  </header>
