<% let albums = agent.reviewables.concat(agent.submittables).concat(agent.viewables); %>
<% albums = albums.filter(function(acct, pos) { %>
<%   let index = albums.findIndex(function(a) { %>
<%     return a._id.toString() == acct._id.toString(); %>
<%   }); %>
<%   return index === pos; %>
<% }); %>        
<details id="album-list" open=true>
  <summary>Albums</summary>
  <section>
    <% for (let album of albums) { %>
      <% include ./list_item %>
    <% } %>
    <i class="fa fa-plus-circle closed form-reveal" id="add-album" onClick="toggleDiv('new-album-form', 'new-album-name')"></i>
    <form id="new-album-form" role="form" action="/album" method="post" style="display: none">
      <input id="new-album-name" type="text" name="name" placeholder="My New Album">
      <input type="submit" value="Create New">
    </form>
  </section>

</details>



